.Info-Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    background: #F2F2F2;
}

.Info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    line-height: 35px;
}

.input-form { 
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin-bottom: 40px;
}

.input-email { 
    margin-left: 10px;
}
