
@media only screen and (max-width: 894px) {
    .Info-Page{
        text-align: center;
        margin: 0 !important;
        width: 100%;
    }
}

@media only screen and (max-width: 610px) {
    .input-form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
