
@media only screen and (max-width: 894px) {
    .Info-Page{
        text-align: center;
        margin: 0 !important;
        width: 100%;
    }
}

@media only screen and (max-width: 610px) {
    .Info-text {
        margin: 30px !important;
    }
    .input-form{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 30px !important;
    }
    .input-email {
        margin: 20px !important;
    }
}
