@media only screen and (max-width: 800px) {
    .Framework-image {
        background-color: red;
        display: none;
    }
    .Framework-text {
        text-align: center;
        justify-content: center;
    }
}