@media only screen and (max-width: 1025px) {
    .Share-wrapper{
      flex-direction:column-reverse;
      justify-content: center !important;
      align-items: center !important;
    }
    .Share-image { 
        width: 50% !important;
    }
    .large-text .x-small-text {
        margin-right: 30px !important;
        width: 50%;
    }
 
}
@media only screen and (max-width: 600px) {
    .Share-image { 
        width: 100% !important;
    }
    .Share-text { 
        width: 100% !important;
        margin: 0 !important;
    }
    .x-small-text .large-text{
        margin: 0 !important;
    }
}