@media only screen and (max-width: 895px) {
    .Home-image {
      display: none !important; 
      margin: 0 !important;
    }
    .Home-text { 
        margin-left: 0px !important;
        width: 90%;
        margin: 0 !important;
    }
    .home-footer { 
      flex-direction: column;
      height: auto !important;
      margin: 0 !important;
    }
    .text-footer-one {
      margin-top: 10px;
      margin-bottom: 10px;
      margin: 0 !important;
    }
    .Home {
      margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .bg {
      width: 100% !important;
      margin: 0 !important;
    }
  }

