@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none !important;
}

.NavOptions {
  display: flex;
  width: 60%;
}
.Navbar h5 {
    text-align: center;
    margin-top: 20px !important;
    width: 40%;
    justify-content: space-around;
    color: #FFFFFF;
    line-height: 20px;
}

.button-register {
    height: 55px;
    width: 300px;
    background: #00A870;
    margin-top: 5px !important;
    color:#FFFFFF;
    border-radius: 4px;
    line-height: 20px;
}

.register {
    display: flex;
}