@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Navbar {
  display: flex;
  justify-content: space-around;
  text-decoration: none !important;
}

.NavOptions {
  display: flex;
  width: 60%;
}
.Navbar h5 {
  margin-top: 18px;
  margin-left: 10px;
    text-align: center;
    width: 25%;
    justify-content: space-around;
}

.register button {
    height: 48px;
    width: 240px;
    margin-top: 5px;
    background: #00A870;
    border-radius: 4px;
    line-height: 20px;
}

.register {
    display: flex;
}