
@media only screen and (max-width: 1400px) {
    .NavOptions {
      width: 80%;
    }
  }
  @media only screen and (max-width: 1106px) {
    .NavOptions {
        width: 100%;
        justify-content: left;
    }
  }

  @media only screen and (max-width: 960px) {
    .NavOptions h5 {
      display: none;
      margin: 0 !important;
    }
    .register h5 {
        display: none;
        margin: 0 !important;
    }
    .NavOptions {
        width: 100%;
        margin: 0 !important;
    }
  }